#root {
    margin: auto auto;
    width: 60vw;
    max-width: 500px;
    max-height: 500px;
    
}

.card {
    /* height: 10vh; */
    /* font-size: 1rem; */
    margin-bottom: 1vh;
}

h1 {
    text-align: center;
}

body {
    background-color: darkslategray;
    /* background-image: url(/img/logCabin.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
}